.anketa {
    font-size: 32px;
    color :  #712300;
}
.info{
    font-size: 18px;
    color:  #7fcecd;
    font-weight: 700;
    text-transform: uppercase;
}
 .chouse{
     font-weight: bold;
    font-size: 16px;
}
.textleft{
     text-align:left ;
 }
.block{
    width: 750px;
    border-color: #d7ffff;
    border-radius: 8px;               
    background-color:#faf3ee ;
    box-sizing: border-box;
     }
 input [type=submit] {
    background-color: #7fcecd ;
    color:#712300;
    border-radius: 8px; 
         }

input{
    border-color: #bbbec2;
    box-sizing: border-box;
    text-align: justify;
    }
.submit{
    border-radius: 8px;
    border-color: #d7ffff;
    color: #712300;
}
.form-row{
   display: flex;
   justify-content: space-between;
   padding: .5em;
   height: 25px;
}
.form-row > label{
    padding: .5em 1em .5em 0 ;
    flex: 1;
}
.form-row > input{
    flex: 2;
}


 
    

   
    
   